* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: auto auto 3fr auto;
    grid-template-columns: repeat(3, 1fr);

    grid-template-areas:
        "header header header"
        "nav nav nav"
        "main main main"
        "footer footer footer";
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: header;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: nav;
}

main {
    background-color: #555;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: main;
}

#cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;

}

.card {
    width: 100%;
    background-color: gray;
    color: white;
    border-radius: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 2rem;
}

.card:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;

}

footer {
    background-color: #666;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: footer;
}


.search {
    font-size: 1.5rem;
}

.formGroup1 {
    display: flex;
    justify-content: right;
    align-items: center;
}

.btn {
    font-size: 1rem;
    background-color: gray;
    color: white;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: none;
}

.btn:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 20px 1px;
}
