* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {}

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: auto 3fr auto;
    grid-template-columns: 1fr;

    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

header {
    display: flex;
    flex-direction: column;
    background-color: #555;
    padding: 10px;
    text-align: center;
    grid-area: header;
}

header h1 {
    border-bottom: 1px solid white;
    color: white;
    width: 100%;

}

nav {
    padding: 0.5rem 0;
}


nav li a {
    color: white;
    list-style: none;
    text-decoration: none;
    border: 1px solid transparent;

    border-radius: 2rem;
    padding: 0.1rem 2rem;

}

nav li a:hover {
    color: rgb(0, 136, 255);
    border: 1px solid white;
    padding: 0.1rem 2rem;
    transition: 0.3s;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;

}


.search-bar {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 10px;
    text-align: left;

}

#search-bar {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ccc;
}




.formGroup1 {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0rem 2rem;
    background-color: #f0f0f0;
    color: #333;
    border-radius: 0.5rem;
    border: none;

}

.formGroup1 input {

    background-color: #f0f0f0;
    padding: 1rem 2rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
}

.formGroup1 select {
    background-color: #f0f0f0;
    padding: 1rem 2rem;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    cursor: pointer;

}

.formGroup1 div label {

    padding: 0.5rem 1rem;

}




main {
    background-color: #f9f9f9;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: main;
}

#cards-container {
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 1rem;


}

.card {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;

    grid-template-areas:
        "header"
        "content"
        "footer";

    border: 1px solid transparent;
    border-radius: 0.5rem;


}

.card .header {
    background-color: #4392F1;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: header;
    border-radius: 0.5rem;


}

.card .body {
    background-color: #f0f0f0;
    color: #333;
    padding: 10px;
    text-align: center;
    grid-area: content;
}

.card .footer {
    background-color: #f0f0f0;

    color: white;
    padding: 10px;
    text-align: center;
    grid-area: footer;
    border-radius: 0.5rem;


}

.card .enroll-btn {
    background-color: gray;
    color: white;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: none;
}

.card .enroll-btn:hover {
    background-color: #4392F1;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding: 1rem 5rem;
    transition: 0.3s;
}

.card:hover {
    border: 1px solid #ccc;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: 0.3s;
}

footer {
    background-color: #666;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: footer;
}


.btn {
    background-color: gray;
    color: white;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: none;
}

.btn:hover {
    background-color: aliceblue;
    color: black;
    cursor: pointer;
    box-shadow: rgba(255, 255, 255, 0.4) 0px 2px 20px 1px;
}

footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

footer ul li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

footer ul li a:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;

}

/* Responsive Styles */

@media screen and (min-width: 768px) {


    .container {
        display: grid;
        height: 100vh;

        grid-template-rows: auto 3fr auto;
        grid-template-columns: repeat(3, 1fr);

        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    header h1 {
        color: white;
        border: none;
        width: auto;
        font-size: 1.8rem;
        
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0rem 0rem;
        padding-left: 1rem;
    }

    nav li a {
        border-radius: 2rem;
        padding: 0.1rem 1.5rem;
    
    }
    
    nav li a:hover {

        padding: 0.1rem 1.5rem;

    }

    nav ul {
        flex-direction: row;
        gap: 0rem;

    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
        padding: 0rem 1rem;
    }


}