* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: grid;
    height: 100vh;

    grid-template-rows: auto 3fr auto;
    grid-template-columns: 1fr;

    grid-template-areas:
        "header header header"
        "main main main"
        "footer footer footer";
}

header {
    display: flex;
    flex-direction: column;
    background-color: #555;
    padding: 10px;
    text-align: center;
    grid-area: header;
}

header h1 {
    border-bottom: 1px solid white;
    color: white;
    width: 100%;


}

header h1:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;
}

header a {
    text-decoration: none;
    color: white;
}

nav {
    padding: 0.5rem 0;
}


nav li a {
    color: white;
    list-style: none;
    text-decoration: none;
    border: 1px solid transparent;

    border-radius: 2rem;
    padding: 0.1rem 2rem;

}

nav li a:hover {
    color: rgb(0, 136, 255);
    border: 1px solid white;
    padding: 0.1rem 2rem;
    transition: 0.3s;
    cursor: pointer;
}

nav ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;

}



main {
    background-color: #f9f9f9;
    color: black;
    padding: 10px;
    text-align: center;
    width: 100%;
    grid-area: main;
}






footer {
    background-color: #666;
    color: white;
    padding: 10px;
    text-align: center;
    grid-area: footer;
}


footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 1rem;
    padding: 0;
    margin: 0;
}

footer ul li a {
    color: white;
    list-style: none;
    text-decoration: none;
}

footer ul li a:hover {
    color: rgb(0, 136, 255);
    cursor: pointer;



}


.statistics {
    width: 100%;

 
}


.statistics-content {
    width: 100%;
    padding: 2rem;
    
}
.statistics-content h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.statistics-content p {
    font-size: 1rem;
    color: #333;
}

.statistics-content ol li {
    font-size: 1rem;
    color: #333;
    margin-bottom: 0.5rem;

}

.statistics-content ol li a {
    color: #555;
    text-decoration: none;
}

.statistics-content .card {
    background-color: #ffffff;
    width: 100%;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.statistics-content .card:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease;
    cursor: pointer;
}

.statistics-content span {
    font-weight: bold;
    color: #333;
}

.sub-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
  
}



.statistics >h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    
}
.statistics > p {
    font-size: 1.3rem;
    color: #333;
    width: 80%;
    margin: 1.5rem auto;
}

/* Responsive Styles */

@media screen and (min-width: 768px) {


    .container {
        display: grid;
        height: 100vh;

        grid-template-rows: auto 3fr auto;
        grid-template-columns: repeat(3, 1fr);

        grid-template-areas:
            "header header header"
            "main main main"
            "footer footer footer";
    }

    header h1 {
        color: white;
        border: none;
        width: auto;
        font-size: 1.8rem;

    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0;
        padding: 0rem 0rem;
        padding-left: 1rem;
    }

    nav li a {
        border-radius: 2rem;
        padding: 0.1rem 1.5rem;

    }

    nav li a:hover {

        padding: 0.1rem 1.5rem;

    }

    nav ul {
        flex-direction: row;
        gap: 0rem;
        ;

    }

    nav ul li {
        display: flex;
        flex-direction: row;
        justify-content: right;
        align-items: right;
        gap: 0rem;
    }

    nav ul li {
        gap: 0;
    }

    .footer-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 0rem;
        padding: 0rem 1rem;
    }





}
